*.pyc
nfsampler/nfmodel/__pycache__/maf.cpython-37.pyc
log_dir/
*.pkl
nfsampler/nfmodel/realNVP_white.py
examples/kepler/kepler_white.py
examples/kepler/kepler_analyse.py
examples/plots
examples/chains
